<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keywords" content="Dubstep, Electro, House, Trance, WebRadio, MooveRadio, Radionomy, Belgique" />
        <meta name="description" content="WebRadio full electro/house/dubstep/trance 24h/24. Suivez le Moovement !" />
        <meta name="author" content="Killao &amp; Stombaker" />

        <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header>
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('img/mr.png') }}" alt="{{ 'base.header.logo.alt' }}" class="logo inline left" />
                </a>

                <div class="style inline">
                    <p>
                        <span class="styles">{{ 'base.header.title.first'|trans }}</span>
                    </p>

                    <p>
                        <span class="more">{{ 'base.header.title.second'|trans }}</span>
                    </p>
                </div>
                <ul class="inline right">
                    <li class="inline">
                        <img src="{{ asset('img/social.' ~ app.request.locale ~ '.jpg') }}" alt="{{ 'base.header.social.alt'|trans }}" />
                    </li>
                    <li class="inline">
                        <a href="http://www.facebook.com/pages/MooveRadio/343666758996110">
                            <img src="{{ asset('img/social/facebook.png') }}" alt="Facebook" class="social" />
                        </a>
                    </li>
                    <li class="inline">
                        <a href="https://twitter.com/MooveRadio">
                            <img src="{{ asset('img/social/twitter.png') }}" alt="Twitter" class="social" />
                        </a>
                    </li>
                    <li class="inline">
                        <a href="http://fr.mooveradio.com">
                            <img src="{{ asset('img/lang/fr.png') }}" alt="{{ 'lang.fr'|trans }}" class="social" />
                        </a>
                    </li>
                    <li class="inline">
                        <a href="http://en.mooveradio.com">
                            <img src="{{ asset('img/lang/en.png') }}" alt="{{ 'lang.en'|trans }}" class="social" />
                        </a>
                    </li>
                </ul>
            </header>

            <nav class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li><a href="#" class="player-open">{{ 'base.nav.player'|trans }}</a></li>
                            <li><a href="{{ path('mr_book_list') }}">{{ 'base.nav.book'|trans }}</a></li>
                            <!--<li><a href="#">{{ 'base.nav.chat'|trans }}</a></li>-->
                            <li><a href="{{ path('mr_news_list') }}">{{ 'base.nav.news'|trans }}</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ 'base.nav.others'|trans }}<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('mr_user_team_show') }}">{{ 'base.nav.team'|trans }}</a></li>
                                    <li><a href="{{ path('mr_page_privacy') }}">{{ 'base.nav.privacy'|trans }}</a></li>
                                </ul>
                            </li>
                            <!--<li><a href="#">{{ 'base.nav.schedule'|trans }}</a></li>-->
                            {% if is_granted('ROLE_BO') %}
                                <li><a href="{{ path('bo_home') }}">Administration</a></li>
                            {% endif %}
                        </ul>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="deconnexion">
                                <p class="inline">
                                    {{ 'base.userbox.hello'|trans }} {{ app.user.username }}
                                </p>
                                <div class="btn-group inline">
                                    <a href="{#{ path('fos_user_profile_show') }#}" class="btn btn-primary">{{ 'base.userbox.profile'|trans }}</a>
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn">{{ 'base.userbox.logout'|trans }}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="right">
                                <form method="post" action="{{ path('fos_user_security_check') }}" class="form-inline">
                                    <div class="input-prepend inline">
                                        <span class="add-on"><label for="Pseudo"><i class="icon-user"></i></label></span>
                                        <input type="text" name="_username" id="Pseudo" placeholder="{{ 'base.userform.username.placeholder'|trans }}" required class="input-small" />
                                    </div>
                                    <div class="input-prepend inline">
                                        <span class="add-on"><label for="MotDePasse"><i class="icon icon-lock"></i></label></span>
                                        <input type="password" name="_password" id="MotDePasse" placeholder="{{ 'base.userform.password.placeholder'|trans }}" required class="input-small" />
                                    </div>
                                    <label class="checkbox">
                                        <input type="checkbox" name="_remember_me" value="on" />
                                        {{ 'base.userform.rememberme.label'|trans }}
                                    </label>
                                    <div class="btn-group inline">
                                        <input type="hidden" name="_csrf_token" value="{% render controller('MrUserBundle:Security:getToken') %}" />
                                        <input type="submit" name="_submit" value="{{ 'base.userform.submit'|trans }}" class="btn btn-primary" />
                                        <a href="{{ path('fos_user_registration_register') }}" class="btn">Inscription</a>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% block body %}{% endblock %}

            <footer class="footer">
                <div class="row">
                    <section class="span12">
                        <h4 class="footerh">{{ 'base.footer.code'|trans }}</h4>
                    </section>
                </div>
                <div class="row">
                    <section class="offset1 span3">
                        <h4>{{ 'base.footer.sitemap.title'|trans }}</h4>
                        <ul class="inline unstyled">
                            <li><a href="#">{{ 'base.footer.sitemap.home'|trans }}</a></li>
                            <li><a href="#">{{ 'base.footer.sitemap.book'|trans }}</a></li>
                            <li><a href="#">{{ 'base.footer.sitemap.chat'|trans }}</a></li>
                            <li><a href="#">{{ 'base.footer.sitemap.news'|trans }}</a></li>
                            <li><a href="#">{{ 'base.footer.sitemap.team'|trans }}</a></li>
                            <li><a href="#">{{ 'base.footer.sitemap.privacy'|trans }}</a></li>
                            <li><a href="#">{{ 'base.footer.sitemap.schedule'|trans }}</a></li>
                        </ul>
                    </section>
                    <section class="offset1 span3">
                        <h4>{{ 'base.footer.partners'|trans }}</h4>
                        <ul class="inline unstyled">
                            <li><a href="http://prohibition1933.com/">Prohibition 1933</a></li>
                            <li><a href="http://www.free-webradio.com/">Free webradio</a></li>
                            <li><a href="http://www.radionomy.com/fr">Radionomy</a></li>
                            <li><a href="http://www.redheberg.com/">RedHeberg</a></li>
                        </ul>
                    </section>
                    <section class="offset1 span3">
                        <h4>{{ 'base.footer.social.title'|trans }}</h4>
                        <ul class="inline unstyled">
                            <li class="inline">
                                <a href="http://www.facebook.com/pages/MooveRadio/343666758996110">
                                    <img src="{{ asset('img/social/facebook.png') }}" alt="{{ 'base.footer.social.facebook'|trans }}" class="img-rounded social">
                                </a>
                            </li>
                            <li class="inline">
                                <a href="https://twitter.com/MooveRadio">
                                    <img src="{{ asset('img/social/twitter.png') }}" alt="{{ 'base.footer.social.twitter'|trans }}" class="img-rounded social">
                                </a>
                            </li>
                            <li class="inline">
                                <a href="http://fr.mooveradio.com">
                                    <img src="{{ asset('img/lang/fr.png') }}" alt="{{ 'lang.fr'|trans }}" class="social" />
                                </a>
                            </li>
                            <li class="inline">
                                <a href="http://en.mooveradio.com">
                                    <img src="{{ asset('img/lang/en.png') }}" alt="{{ 'lang.en'|trans }}" class="social" />
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </footer>
        </div>

        <script>
            var CONSTANTS = {
                LANG: '{{ app.request.locale }}'
            }
        </script>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('js/base.js') }}"></script>
        <script type="text/javascript">
            $(function(){
                $('#dediform').collapse('hide');
                $('.modal-init').modal();
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
