{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="spanplay contenu inline left">
            <h3 class="titre main">{{ 'mr.page.home.listen.title'|trans }}</h3>
            <img src="{{ asset('img/player/play.jpg') }}" alt="{{ 'mr.page.home.listen.player' }}"
                 class="butplay player-open" />
            <ul class="hcenter otherplay">
                <li class="inline">
                    <a href="http://listen.radionomy.com/mooveradio.m3u">
                        <img src="{{ asset('img/player/itunes.jpg') }}" alt="iTunes" />
                    </a>
                </li>
                <li class="inline">
                    <a href="http://listen.radionomy.com/mooveradio.m3u">
                        <img src="{{ asset('img/player/wm.jpg') }}" alt="Windows Media Player" />
                    </a>
                </li>
                <li class="inline">
                    <a href="https://itunes.apple.com/be/app/radionomy/id465042448?mt=8">
                        <img src="{{ asset('img/player/smartphone.jpg') }}" alt="Smartphone" />
                    </a>
                </li>
            </ul>
        </section>
        <section class="inline right">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="{{ asset('img/slider/1.png') }}" alt="{{ 'mr.page.home.slider.first.alt'|trans }}" />

                        <div class="carousel-caption">
                            <h4>{{ 'mr.page.home.slider.first.title'|trans }}</h4>

                            <p>{{ 'mr.page.home.slider.first.description'|trans|raw }}</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/slider/2.png') }}" alt="{{ 'mr.page.home.slider.second.alt'|trans }}" />

                        <div class="carousel-caption">
                            <h4>{{ 'mr.page.home.slider.second.title'|trans }}</h4>

                            <p>{{ 'mr.page.home.slider.second.description'|trans|raw }}</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </section>
    </div>

    {% if newsList|length != 0 %}
        <div class="row">
            <section class="span12 contenu article news">
                <h3 class="titre main">{{ 'mr.page.home.news.title'|trans }}</h3>

                {% for news in newsList %}
                    <img src="{{ news.image }}" class="right inline une"
                         alt="{{ 'mr.page.home.news.imgprefix'|trans }} {{ news.title }}" />
                    <h3 class="titre">
                        {{ news.title }}
                        <small>
                            <span class="label"><a class="pseudo" href="#">{{ news.user.username }}</a></span> -
                            <span class="label">
                                <time datetime="{{ news.date|date('Y-m-d\TH:i:s') }}">{{ news.date|date('d/m/Y') }}</time>
                            </span>
                        </small>
                    </h3>
                    <article class="news inline left">
                        <p>{{ news.content|nl2br }}</p>
                    </article>
                {% endfor %}
                <p style="clear:both;margin-left:1em;"><a href="#">{{ 'mr.page.home.news.all'|trans }}</a></p>
            </section>
        </div>
    {% endif %}

    {% if messages|length != 0 %}
        <div class="row" id="dedicace">
            <section class="span12 contenu">
                <h3 class="titre main">{{ 'mr.page.home.book.title'|trans }}</h3>

                <div>
                    <div id="slider">
                        {% for message in messages %}
                            <div class="dedicace inline">
                                <span class="label"><a class="pseudo" href="#">{{ message.user.username }}</a></span> -
                                <span class="label">
                                    <time datetime="{{ message.date|date('Y-m-d\TH:i:s') }}">
                                        {{ message.date|date('d/m/Y') }}
                                    </time>
                                </span>

                                <p>{{ message.content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}